---
export interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink, imageSrc } = Astro.props;
const imageSrc = imageSrc ?? 'https://divyamrit.netlify.app/assets/OgImage.jpg?v=1' ;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ imageSrc } />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageSrc} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Nova+Round&display=swap" rel="stylesheet">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="/code.css">
<link rel="stylesheet" type="text/css" href="/global.css">
