---
const { title = 'Card Title', language = 'web native api', noOfLines=209, noOfExamples = 4 , subTitle = "Card Sub Title" , link = "#" } = Astro.props;
---

<div id="BlogCard" class="flex flex-col w-64 bg-gradient-to-bl from-blueGray-900 to-blueGray-800 justify-end rounded-lg p-5" style="text-shadow: 1px 1px 2px #000000;">
  <h1 class="text-white text-xl">{title}</h1>
  <p class="text-white pt-3 text-base">{noOfLines}l {noOfExamples}e </p>
  <p id="BlogCardText" class="text-white max-h-0 opacity-0 text-base">{subTitle}</p>
  <a id="BlogCardButton" href={link} class="max-h-0 opacity-0 w-max border-2 px-3 text-sm inline-block rounded-lg bg-blueGray-900 text-white">Read More!</a>
</div>
