---
import Navigation from '../components/SEO&PAGES/Forever_Component/Navigation.astro';
import SEO from "../components/SEO&PAGES/SEO/SEO.astro";
import HeadCommon from '../components/SEO&PAGES/SEO/HeadCommon.astro'
const { title, description, classes1 = 'flex flex-col items-center bg-cover asSmallBg md:asMediumBg lg:asLargeBg xl:asLargerBg', classes2 = " max-w-[1000px] w-full " } = Astro.props;
---
<html lang="en">
  <head>
    <HeadCommon />
    <SEO canonicalURL={Astro.request.canonicalURL} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
    <script>
      window.addEventListener('load', () => {
        quicklink.listen();
      });
    </script>
    <slot name="topScript" />
  </head>
  <body>
    <!-- navigation bar + Background-->
      <section class={classes1}>
        <div class={classes2}>
        <Navigation/>
        <!-- slot: your page content will be injected here. -->
          <slot />
        </div>
      </section>
      <slot name="bottomScript"/>
  </body>
</html>